@import '../variables';

$carousel-height: 400px;
$carousel-height-tablet: 330px;
$carousel-height-mobile: 255px;
$border-radius: 25px;
$button-padding: 10px;
$count-padding: 5px 10px;
$count-font-size: 14px;
$color-transparent: rgba(0, 0, 0, 0);

.carousel {
  position: relative;
  width: 100%;
  height: $carousel-height;
  overflow: hidden;
  border-radius: $border-radius;

  @media (max-width: $media-breakpoint-medium) {
    height: $carousel-height-tablet;
  }

  @media (max-width: $media-breakpoint-small) {
    height: $carousel-height-mobile;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-transparent;
    border: none;
    padding: $button-padding;
    cursor: pointer;

    &.left {
      left: 10px;
      transform: rotate(180deg) translateY(50%);
    }

    &.right {
      right: 10px;
    }
  }

  &-count {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white;
    padding: $count-padding;
    border-radius: 5px;
    font-size: $count-font-size;
  }
}