@import '../variables';

$border-radius: 25px;
$card-height: 340px;
$card-height-mobile: 255px;
$gap: 50px;
$gap-mobile: 25px;
$font-size: 18px;
$overlay-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(255, 255, 255, 0) 30%);

.divHome {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  @media (max-width: $media-breakpoint-medium) {
    margin-bottom: 25px;
  }
}

.home-background {
  width: $width-full;
  background-color: $background-color;
  border-radius: $border-radius;
}

.cardList {
  display: grid;
  width: 95%;
  margin: 2.5%;
  gap: $gap;
  grid-template-columns: repeat(3, 1fr);
  background-color: $background-color;
  border-radius: $border-radius;
  align-items: center;

  @media (max-width: $media-breakpoint-large) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $media-breakpoint-medium) {
    grid-template-columns: repeat(1, 1fr);
    gap: $gap-mobile;
  }

  @media (max-width: $media-breakpoint-small) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
  width: $width-full;
  height: $card-height;

  .img-container {
    height: $height-full;

    img {
      width: $width-full;
      border-radius: 10px;
      height: $height-full;
      object-fit: cover;
    }

    .overlayCard {
      position: absolute;
      top: 0;
      left: 0;
      width: $width-full;
      height: $height-full;
      background: $overlay-gradient;
      border-radius: 10px;
    }
  }

  h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $color-white;
    font-size: $font-size;
    font-family: $font-family;
  }

  @media (max-width: $media-breakpoint-small) {
    height: $card-height-mobile;
  }
}