@import '../variables';

$primary-color: #ff6b6b;
$background-color: #F6F6F6;
$toggle-padding: 15px 20px;
$toggle-radius: 5px;
$transition-duration: 0.3s;
$transition-ease: ease;

@mixin transition($properties) {
  transition: $properties $transition-duration $transition-ease;
}

.collapse {
  width: 100%;

  &-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: $toggle-padding;
    font-size: 18px;
    font-weight: 700;
    border-radius: $toggle-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &-title {
    width: 80%;
  }

  &-arrow {
    width: 20%;
    text-align: right;

    .down {
      transform: rotate(180deg);
    }

    img {
      @include transition(transform);
    }
  }

  &-content {
    background-color: $background-color;
    color: $color-black;
    margin-bottom: 10px;
    padding: 0 10px;  
    border-radius: $toggle-radius;
    font-size: 18px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-duration $transition-ease, padding $transition-duration $transition-ease, opacity $transition-duration $transition-ease ;

      .collapse-text{
        transition: transform $transition-duration ease;
        transform: translateY(-100%);
      }
  }

  .open {
    max-height: 250px; 
    padding: 10px;
    opacity: 1;

      .collapse-text{
        transform: translateY(0%);
      }
  }
}