@import '../variables';
$padding-top: 40px;
$padding-bottom: 40px;
$text-align-center: center;

footer {
  width: $width-full;
  background-color: $color-black;
  color: $color-white;
  text-align: $text-align-center;
  flex-shrink: 0;

  img {
    padding-top: $padding-top;
  }

  p {
    padding-bottom: $padding-bottom;
  }
}