$width-about: 90%;
$width-scroll: 100%;
$gap-scroll: 30px;
$margin-bottom-scroll: 50px;

.divAbout {
  width: $width-about;
}

.divScroll {
  width: $width-scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-scroll;
  margin-bottom: $margin-bottom-scroll;
}