.divHome{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.cardList {
    display: grid;
    width: 90%;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px;
    align-items: center;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
}

.card img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}


.card h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:white;
    font-size: 18px;
    font-family: Montserrat;
}

.overlayCard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 10%, rgba(255,255,255,0) 30%);
    border-radius: 10px;
}

@media (max-width : 375px){
   
}