footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    flex-shrink: 0;
  
    img {
      padding-top: 40px;
    }
  
    p {
      padding-bottom: 40px;
    }
  }