$tag-bg-color: #FF6060;
$border-radius: 7px;
$color-white: white;
$font-weight: 700;
$font-size-desktop: 14px;
$font-size-mobile: 10px;
$padding-y: 5px;
$padding-x: 20px;
$font-family: 'Montserrat';
$margin-right-desktop: 10px;
$margin-bottom-mobile: 5px;

.tag {
  background-color: $tag-bg-color;
  border-radius: $border-radius;
  color: $color-white;
  font-weight: $font-weight;
  font-size: $font-size-desktop;
  padding: $padding-y $padding-x;
  font-family: $font-family;
  margin-right: $margin-right-desktop;

  @media (max-width: 375px) {
    font-size: $font-size-mobile;
    margin-bottom: $margin-bottom-mobile;
  }
}

@media (max-width: 375px) {
  .tag-list {
    display: flex;
    flex-wrap: wrap;
  }
}