$font-family: 'Montserrat';
$height-full : 100%;
$width-full : 100%;
$width-90: 90%;
$width-50: 50%;
$media-breakpoint-large : 1024px;
$media-breakpoint-medium : 768px;
$media-breakpoint-small : 375px;
$background-color: #F6F6F6;
$color-white: white;
$color-black : black;